<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>JandroCode-modificarUsuarios</title>
 <meta charset="utf-8"/>
 <meta name="viewport" content="width=device-width, initial-scale=1"/>
 <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootsptrap/3.3.7/css/bootstrap.min.css" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootsptrap/3.3.7/js/bootstrap.min.js"></script>
 <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

 <div class="jumbotron">
  <div class="container">
   <h1>Formulario de Usuarios</h1>
   <br/><!-- th:object="${usuarios_model}" carga el objeto usuario con el  model de el metodo usersForm -->
   <form action="#" th:action="@{/usuarios/addusuarios}" th:object="${usuarios_model}" method="post">
   
   
   <input type="hidden" th:field="*{id}"></input> 
   
    Nombre: <input type="text" class="form-control" th:field="*{nombre}" th:value="${nombre}"></input><!--th:field="*{nombre} para mandar los datos via post  -->
    <br/>
    Apellidos: <input type="text" class="form-control" th:field="*{apellido}" th:value="${apellido}">
    <br/>
    Teléfono: <input type="text" class="form-control" th:field="*{telefono}" th:value="${telefono}"></input>
    <br/>
    Correo: <input type="text" class="form-control" th:field="*{correo}" th:value="${correo}"></input>
    <br/>
    <br/>
    
    	<button class="btn btn-lg btn-primary btn-block" type="submit">
     		<span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Aceptar
    	</button>
    	<button class="btn btn-lg btn-danger btn-block" type="submit">
     		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Anular
    	</button>
    
   </form>
  </div>
 </div>

</body>
</html>